mixin formInput(id, type, text, value)
    label(for=id)= text
    input(type=type, id=id, name=id, value=value)

input(type="hidden" name="_csrf" value=csrfToken)
+formInput("firstName", "text", "First Name:", firstName)
+formInput("lastName", "text", "Last Name:", lastName)
+formInput("email", "email", "Email:", email)
+formInput("password", "password", "Password:", password)
+formInput("confirmedPassword", "password", "Confirm Password:")
